<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fxbros-faqs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="footer.css">
  <style>
    .quicklink
  {
    padding-top:70px;
  }
 
  </style>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="users/login">Courses</a>
    <a href="/faq">Faqs</a>
    <a href="/price">Products</a>
    <a href="/contact">Contact</a>
    <a id="auth"href="#signin"><i class="fa fa-fw fa-user"></i>Sign in</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <img src="https://img.icons8.com/material-rounded/24/000000/menu--v3.png"/>
    </a>
  </div>
  <div class="qstn1">
  <details open>
    <summary>Q-1)Do i get acess to signals with the course?</summary>
    <div class="faq__content">
      <p>A- No signals are seperate service</p>
    </div>
  </details>
  </div>
  <details>
    <summary>Q-2)How do i interact with course instructor?</summary>
    <div class="faq__content">
      <p>A- You can mail us or send us a WhatsApp text</p>
    </div>
  </details>
  <details>
    <summary> Q-3)Can the course fee be refunded?</summary>
    <div class="faq__content">
      <p>A- No its non refundable.</p>
    </div>
  </details>
  <details>
    <summary>Q-4)What benefits do i get after buying course?</summary>
    <div class="faq__content">
      <p>A- You get weekly zoom sessions, old zoom recordings, course content and 24*7 Qna support.</p>
    </div>
  </details>
  <details>
    <summary>Q-5)How long would it take me to master forex trading?</summary>
    <div class="faq__content">
      <p>A- It depends on your dedication but the content we provide can be consumed in three months.</p>
    </div>
  </details>
  <details>
    <summary>Q-6)Do you teach a strategy in the course?</summary>
    <div class="faq__content">
      <p>A- Yes we teach our profitable strategy via zoom sessions (included in course).</p>
    </div>
  </details>

  <div class="footer">
    <div class="logo">
      <div>
        <div class="ig"><img src="https://i.postimg.cc/d3TGknDL/ig-icon.png"  width="50px" height="50px"/></div>
        <div class="wp"><img src="https://i.postimg.cc/L4fTs6Pv/wp.png" width="50px" height="50px"/></div>
        <div class="twtr"><img src="https://i.postimg.cc/YSnXQn23/telegramicon.png" width="50px" height="50px"/></div>
      </div>
    </div>
    <div class="quicklink">
      <h4>Quick Access</h4>
      <p ><a href="/about">ABOUT</a></p>
      <p><a href="/contact">CONTACT</a></p>
      <p><a href="/price">PRODUCTS</a></p>
      <p><a href="/faq">FAQS</a></p>
    </div>
    <p>Developed with ❤️ by Ankit</p>
  </div>
      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        
        </script> 
</body>
</html>