<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/courses">Courses</a>
      <a href="/faq">Faqs</a>
      <a href="/price">Products</a>
      <a href="/contact">Contact</a>
        <a id="auth"href="#signin"><i class="fa fa-fw fa-user"></i>Sign in</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <img src="https://img.icons8.com/material-rounded/24/000000/menu--v3.png"/>
        </a>
      </div>   
    <div id="course">
        <div>
            <div class="video1">
                <iframe allowfullscreen
                src="https://mega.nz/embed/704kHIYT#BeZ2t9hc0-qeA27pHUFE05OBZiyWLJAfU4ThfGNiQBc">
                </iframe>
                
                <div class="vdotitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, doloribus!</div>
            </div>
            
            <div class="video2">
                <iframe allowfullscreen
                src="https://mega.nz/embed/704kHIYT#BeZ2t9hc0-qeA27pHUFE05OBZiyWLJAfU4ThfGNiQBc">
                </iframe>
                <div class="vdotitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, dicta.
                </div>
            </div>
           
        </div>
        <div>
            <div class="video1">
                <iframe allowfullscreen
                src="https://mega.nz/embed/704kHIYT#BeZ2t9hc0-qeA27pHUFE05OBZiyWLJAfU4ThfGNiQBc">
                </iframe>
                <div class="vdotitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quos?</div>
            </div>
            <div class="video2">
                <iframe allowfullscreen
                src="https://mega.nz/embed/704kHIYT#BeZ2t9hc0-qeA27pHUFE05OBZiyWLJAfU4ThfGNiQBc">
                </iframe>
                <div class="vdotitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, tempore!</div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="logo">
        <div>
          <div class="ig"><img src="https://i.postimg.cc/d3TGknDL/ig-icon.png"  width="50px" height="50px"/></div>
          <div class="wp"><img src="https://i.postimg.cc/L4fTs6Pv/wp.png" width="50px" height="50px"/></div>
          <div class="twtr"><img src="https://i.postimg.cc/YSnXQn23/telegramicon.png" width="50px" height="50px"/></div>
        </div>
      </div>
      <div class="quicklink">
        <h4>Quick Access</h4>
        <p ><a href="/about">ABOUT</a></p>
        <p><a href="/contact">CONTACT</a></p>
        <p><a href="/price">PRODUCTS</a></p>
        <p><a href="/faq">FAQS</a></p>
      </div>
      <p>Designed with ❤️ by Ankit 😘,I want 🖕</p>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>