<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plan&prices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="footer.css">
</head>
<style>
  body{
    background-color:#600599;
  }
  #pricing h2{
    color:white;
  }
</style>
<body>
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="users/login">Courses</a>
      <a href="/faq">Faqs</a>
      <a href="/price">Products</a>
      <a href="/contact">Contact</a>
        <a id="auth"href="#signin"><i class="fa fa-fw fa-user"></i>Sign in</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <img src="https://img.icons8.com/material-rounded/24/000000/menu--v3.png"/>
        </a>
      </div>
    <div id="pricing">
        <h2>PLANS</h2>
        <div>
            <div class="basic">

               <h1>ONLINE COURSES</h1>
               <img src="https://i.postimg.cc/t417X7Z4/video.png" alt="" width="100px" height="100px">
               <ul class="price">
                <li>DAILY ZOOM CALLS</li>
                <li>ON DEMAND LESSONS</li>
                <li>WEEKLY SIGNALS</li>
                <div class="inr">300$</div>
                <a href="/users/register"><button class="buy">Buy Now</button></a>
                </ul>
            </div>
            <div class="premi">
            <h1>PRIVATE DISCORD</h1>
            <img src="https://i.postimg.cc/xTZTFYxD/discord.png" alt="" width="90px" height="90px">
            <ul class="price">
            <li>DAILY SIGNALS</li>
            <li>WEEKLY ZOOM CALLS</li>
            <li>PRIVATE COMMUNITY CHATS</li>      
            <div class="inr">30$ per month</div>
            <button class="buy">Join Now</button>
            </ul>
            </div>
        </div>
      </div>
      <div class="footer">
        <div class="logo">
          <div>
            <div class="ig"><img src="https://i.postimg.cc/d3TGknDL/ig-icon.png"  width="50px" height="50px"/></div>
            <div class="wp"><img src="https://i.postimg.cc/L4fTs6Pv/wp.png" width="50px" height="50px"/></div>
            <div class="twtr"><img src="https://i.postimg.cc/YSnXQn23/telegramicon.png" width="50px" height="50px"/></div>
          </div>
        </div>
        <div class="quicklink">
          <h4>Quick Access</h4>
          <p ><a href="/about">ABOUT</a></p>
          <p><a href="/contact">CONTACT</a></p>
          <p><a href="/price">PRODUCTS</a></p>
          <p><a href="/faq">FAQS</a></p>
        </div>
        <p>Developed with ❤️ by Ankit</p>
      </div>
      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>